/* line 4, ../scss/diversityabroad-admin.scss */
table {
  margin-top: 10px;
  width: 100%;
}
/* line 8, ../scss/diversityabroad-admin.scss */
table tr:nth-child(odd) {
  background: #f6f6f6;
}
/* line 10, ../scss/diversityabroad-admin.scss */
table th, table td {
  padding: 5px 10px;
}
/* line 12, ../scss/diversityabroad-admin.scss */
table th.actions, table td.actions {
  text-align: right;
}
/* line 15, ../scss/diversityabroad-admin.scss */
table thead tr, table tfoot tr {
  background: transparent !important;
}
/* line 18, ../scss/diversityabroad-admin.scss */
table tbody th, table tbody td, table thead th, table thead td, table tfoot th, table tfoot td {
  vertical-align: middle;
}
/* line 20, ../scss/diversityabroad-admin.scss */
table tbody th.checkbox, table tbody td.checkbox, table thead th.checkbox, table thead td.checkbox, table tfoot th.checkbox, table tfoot td.checkbox {
  padding: 5px 10px;
  width: 30px;
  text-align: center;
}
/* line 26, ../scss/diversityabroad-admin.scss */
table tbody th.details p, table tbody td.details p, table thead th.details p, table thead td.details p, table tfoot th.details p, table tfoot td.details p {
  margin: 0;
}
/* line 31, ../scss/diversityabroad-admin.scss */
table tbody th, table thead th, table tfoot th {
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  color: #004ba5;
}

/* line 41, ../scss/diversityabroad-admin.scss *
.reveal-modal-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #888888;
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/* line 55, ../scss/diversityabroad-admin.scss *
.reveal-modal {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  background: #ffffff;
  position: absolute;
  z-index: 2001;
  padding: 20px;
}
/* line 66, ../scss/diversityabroad-admin.scss *
.reveal-modal h3 {
  margin: 10px 0;
}

/* line 69, ../scss/diversityabroad-admin.scss *
.reveal-modal.small {
  width: 200px;
  margin-left: -100px;
}

/* line 70, ../scss/diversityabroad-admin.scss *
.reveal-modal.medium {
  width: 400px;
  margin-left: -200px;
}

/* line 71, ../scss/diversityabroad-admin.scss *
.reveal-modal.large {
  width: 600px;
  margin-left: -300px;
}

/* line 72, ../scss/diversityabroad-admin.scss *
.reveal-modal.xlarge {
  width: 800px;
  margin-left: -400px;
}

/* line 74, ../scss/diversityabroad-admin.scss *
a.close-reveal-modal {
  font-size: 2em;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
}

/* line 87, ../scss/diversityabroad-admin.scss */
.navbar-nav.nav-rod .title {
  padding: 20px 60px 20px 10px;
  font-family: "DINProBold", "ff-din-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 12px;
  line-height: 20px;
  color: #d6d6d6;
  float: left;
}

/* line 98, ../scss/diversityabroad-admin.scss */
.navbar-nav.nav-rod.secondary a {
  color: #555555;
}
/* line 100, ../scss/diversityabroad-admin.scss */
.navbar-nav.nav-rod.secondary a:hover {
  color: #414141;
}

/* line 103, ../scss/diversityabroad-admin.scss */
.area .section .content.content-title {
  padding: 0 0 10px 0;
}

/* line 107, ../scss/diversityabroad-admin.scss */
.area .section .content.content-bar {
  padding: 0;
}
/* line 109, ../scss/diversityabroad-admin.scss */
.area .section .content.content-bar .navbar-nav.nav-rod .special {
  color: #ce5700;
}
/* line 112, ../scss/diversityabroad-admin.scss */
.area .section .content.content-bar .btn-group {
  padding: 15px 0;
}

/* line 115, ../scss/diversityabroad-admin.scss */
.area .section .content.content-table {
  padding: 20px 0 0 0;
}
/* line 117, ../scss/diversityabroad-admin.scss */
.area .section .content.content-table .btn {
  margin: 5px 0;
}

/* line 120, ../scss/diversityabroad-admin.scss */
.navbar .filter-field {
  padding: 10px 0;
}
/* line 122, ../scss/diversityabroad-admin.scss */
.navbar .filter-field .form-group {
  margin-bottom: -5px;
  padding-left: 0;
}
/* line 126, ../scss/diversityabroad-admin.scss */
.navbar .filter-field .btn {
  margin: 5px 0;
}

/* line 129, ../scss/diversityabroad-admin.scss */
.foot {
  padding: 10px;
}

/* line 133, ../scss/diversityabroad-admin.scss */
.border-bottom {
  border-bottom: 1px solid #e2e2e2;
}

/* line 137, ../scss/diversityabroad-admin.scss */
.grey-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  padding: 20px;
}

/* line 143, ../scss/diversityabroad-admin.scss */
.typekit-badge {
  display: none !important;
}
